[2016-02-01 13:32] mrpatiwi opened #4 "Android - Header and Footer left margin"
On Android, section header and footer are missing left margin.

![image](https://cloud.githubusercontent.com/assets/7570744/12718675/ed2305c0-c8ce-11e5-8e1c-7db13c942e8f.png)

![image](https://cloud.githubusercontent.com/assets/7570744/12718696/00993dea-c8cf-11e5-92b6-4b199254ac37.png)

[2016-02-02 21:14] Purii commented on #4
Should be fixed with [v0.6.0](https://www.npmjs.com/package/react-native-tableview-simple). :+1:

[2016-02-02 21:14] #4 closed

[2016-04-20 20:10] Purii opened #7 "Split react and react-native imports"
With react-native v0.25.0 a deprecation warning for a split of react and react-native packages will appear: https://github.com/facebook/react-native/commit/2eafcd45dbd42f750df1ab9aa3770fed5cdf11ae

[2016-05-05 15:51] #7 closed

[2016-05-13 16:45] rturk opened #9 "Dependencies is really 0.27.0-rc or this is a typo for 0.26.0-rc?"
Currently this is in package.json

  "peerDependencies": {
    "react-native": ">=0.25 || 0.27.0-rc"
  },

https://github.com/Purii/react-native-tableview-simple/blob/master/package.json#L21

[2016-05-13 22:08] Purii commented on #9
Will be valid sometime next week.

Seems that I was even faster than the RN release cycle itself :-)

[2016-05-13 22:08] #9 closed

[2016-05-19 08:31] mrpatiwi opened #10 "null children causes crash"
[code]

Perhaps filter `null` childs before rendering  `Section` childs on https://github.com/Purii/react-native-tableview-simple/blob/master/components/Section.js#L53-L77

[2016-05-19 09:51] miracle2k opened #11 "Don't validate children via propTypes"
I have something like this:

    <TableView>
          <Section header={_("Select card to pay with")}>
             {cards.map((card, idx) => {
                  return <Cell .... />
              })}

        <Cell title="Use a new card" ... />
      </Section>
    </TableView>

My console says:

     warning.js:45 Warning: Failed propType: Invalid prop `children` supplied to `Section`. Check the

[2016-05-19 19:19] Purii commented on #10
@mrpatiwi Do you have an example?

[2016-05-19 20:10] #11 closed

[2016-05-19 20:11] Purii commented on #11
*Just open an issue, if your problem is still not fixed.*

[2016-05-22 05:24] mrpatiwi commented on #10
I'm closing this issue, I fixed it upgrading React Native

[2016-05-22 05:24] #10 closed

[2016-05-22 09:25] Purii commented on #10
@mrpatiwi Which version did you use before?

[2016-06-06 13:42] CaveyChan opened #12 "PropTypes.oneOfType error in react-native 0.27.0"
![8_](https://cloud.githubusercontent.com/assets/16031190/15823953/8470716a-2c2f-11e6-8ae5-33937eda1a7b.jpg)

[2016-06-06 16:56] Purii commented on #12
Are you using the most current version of `react-native-tableview-simple`?

[2016-06-08 20:57] Purii commented on #12
_Just open an issue, if your problem is still not fixed._

[2016-06-08 20:57] #12 closed

[2016-06-09 03:06] CaveyChan commented on #12
The problem is solved, thank you

[2016-06-09 03:10] CaveyChan commented on #12
The problem is solved, thank you

[2016-06-24 13:55] Abiola-MosesOlaniyan opened #13 "Can you allow CustomCell to accept style as props"
I am having problem styling customCell. default style is applied.

[2016-06-24 14:41] Purii commented on #13
@Abiola-MosesOlaniyan Do you  have an example?

[2016-06-24 18:56] Abiola-MosesOlaniyan commented on #13
Sorry I don't have example. When I use customCell everything is centered (because of the default style you apply). I want to have my custom applied ( there is no way to pass my style as props)

[2016-06-26 13:02] Purii commented on #13
I will look for a solution to pass style as a prop.
In the meantime you could use `flex: 1` to expand your content to the full width.

[2016-07-03 19:36] Purii commented on #13
Should be fixed with [v0.11.0](https://github.com/Purii/react-native-tableview-simple/commit/e1bf19bb15327701787556aa106d6f68a9c43733). :+1:
*Just reopen the issue, if your problem is still not fixed.*

[2016-07-03 19:36] #13 closed

[2016-07-23 05:49] PaulBGD opened #14 "Custom styles for cell"
Currently there's not very many ways to style a cell. Stuff like font size, padding, and others just don't exist. Recreating them with a CustomCell doesn't feel very good.

[2016-07-23 16:19] Purii commented on #14
The `Cell` is written to imitate the native `Cell` of iOS. It's not that easy to allow full customization and keep the implementation of the accessories working without issues.
#### `Cell`:`contentContainerStyle`
A `Custom Cell` has the same initial "looking" as a `Cell` but supports the prop `contentContainerStyle`.  The only difference is, that you need to style the contents on your own.
Would t

[2016-07-23 16:40] PaulBGD commented on #14
Yeah I see what you mean. I guess it makes more sense to use a Custom Cell.

[2016-07-23 16:40] #14 closed

[2016-09-06 09:42] joncursi opened #16 "Add support for rightDetailColor?"
I would like to style the right detail with a color.

<img width="365" alt="screen shot 2016-09-06 at 5 40 10 am" src="https://cloud.githubusercontent.com/assets/4974609/18269042/71e8a8ca-73f4-11e6-9b4b-16c1a6f5e119.png">

Right now I am achieving this via

[code]

However this results in a propTypes validation error on the detail prop:

[code]

[2016-09-12 11:24] #16 closed

[2016-09-12 11:26] Purii commented on #16
Sounds reasonable!
The prop `rightDetailColor` will be supported with the next release 👍

[2016-10-07 14:24] Purii opened #17 "Separators should be hidden on press"
Pressing a native TableCell will "hide" the separator above and below. But with _tableview-simple_ you could still see the white line on the left of each separator.

[2016-11-07 21:26] joncursi opened #18 "Invalid prop `children` supplied to `TableView`"
Looping over data to generate sections and cells within those sections. Getting the "Invalid prop `children` supplied to `TableView`" error.

Sample:

[code]

[2016-11-09 10:04] Purii commented on #18
I will look into it!

[2016-11-09 23:15] Purii commented on #18
I couldn't replicate your issue with the following sample. Any idea what I made differently?

[code]

[2016-11-12 22:02] chetstone opened #20 "Alternate separators missing"
I have this code:
[code]
And only every other separator shows:

![simulator screen shot nov 12 2016 14 59 11](https://cloud.githubusercontent.com/assets/976343/20242371/dc9a5a1e-a8e8-11e6-9ea2-e74e3857d381.png)

What can I do about this? I've tried hiding the separators and adding bottom or top borders to each cell using styles and they don't show up at all.

[2016-11-13 18:10] Purii commented on #20
I experienced this issue before. You won't get this on a real device.
Set the scale to 100% on the iOS Simulator and try it again. (*Simulator: Window > Scale > 100%*)

*Just open an issue, if your problem is still not fixed.*

[2016-11-13 18:10] #20 closed

[2016-11-13 18:10] Purii commented on #18
*Just open an issue, if your problem is still not fixed.*

[2016-11-13 18:10] #18 closed

[2016-11-13 20:59] chetstone commented on #20
Ah yes, I've seen this before, I just forgot. Thanks so much for the reply.

[2016-12-02 22:44] chetstone opened #21 "Warning: setState(...): Can only update a mounted or mounting component."
I was debugging a tricky problem in my code when I saw this warning:

[code]
I can make that warning go away by passing `allowFontScaling={false}` to all my Cell components. Then the Cell component doesn't try to set state. This also makes my other problem go away. I have no idea why.

This is an almost-acceptable workaround, because I have been debating whether to turn off font scaling in my sett

[2016-12-03 16:46] Purii commented on #21
Thank you!

I will look into it. Seems to be related to [Cell.js:45](https://github.com/Purii/react-native-tableview-simple/blob/master/components/Cell.js#L45).
Also will fix the issue with the font size 👍

[2016-12-04 22:00] Purii commented on #21
Should be fixed with [v0.14.1](https://github.com/Purii/react-native-tableview-simple/releases/tag/v0.14.1). :+1:
_Just reopen the issue, if your problem is still not fixed._

[2016-12-04 22:00] #21 closed

[2016-12-06 17:00] #17 closed

[2016-12-07 17:46] Amurmurmur opened #23 "TableView style RN 0.39"
Please change tableview style from flex: 1 to flexGrow: 1.

Due to recent changes from RN 0.39 on android flex: 1 would give a bug and wont display a table at all.

here is the fixed tableview please include it with the new update of the component:

`
/* eslint-disable import/no-unresolved */
import React, {
  PropTypes,
} from 'react';

import {
  StyleSheet,
  View,
} from 'react-native';
/* esl

[2016-12-07 19:27] #23 closed

[2016-12-07 19:31] Purii commented on #23
Should be fixed with [v0.15.3](https://github.com/Purii/react-native-tableview-simple/commit/f781b6f9c406b26177b4ee4b4cfcefda4d45bf7d). :+1:
_Just reopen the issue, if your problem is still not fixed._

[2016-12-14 18:45] esutton opened #25 "Is there a property to change the Info Icon color?"
I would like to change the info icon to a colors used by my app's dark or light themes.

I would like to change form blue to my dark theme's green color.

I tried searching the repo but cannot find where the info icon comes from?  I searched for png and jpg.

Thanks in advance,

![screen shot 2016-12-14 at 12 43 56 pm](https://cloud.githubusercontent.com/assets/6115047/21195830/095edce8-c1fb-11e6-

[2016-12-14 19:31] Purii commented on #25
That icon is build with CSS. You can use the prop `rightDetailColor`.
Have a look at the `example` project: [index.ios.js#L62](https://github.com/Purii/react-native-tableview-simple/blob/master/example/index.ios.js#L62).

[code]

[2016-12-14 19:36] esutton commented on #25
**rightDetailColor** sets the detail text color but the icon remains blue color?

[2016-12-14 20:03] Purii commented on #25
Sorry!

The right prop is `accessoryColor`.

[code]

[2016-12-14 20:22] esutton commented on #25
My bad.

Sorry I did not give accessoryColor a try!

Thank you for sharing your work.

Nice job!

[2016-12-15 09:41] #25 closed

[2017-01-12 09:27] saeed2402 opened #26 "CustomCell doesn't render >"
Hi there,
Is there a reacon I don't see ">" when I use CustomCell?
Also, how can I use the ">" in my code? How is it rendered?

Thanks.

[2017-01-12 09:50] saeed2402 commented on #26
Found it: it's this:
<View style={styles.accessory_disclosureIndicator} />

[2017-01-12 09:50] #26 closed

[2017-01-19 16:04] miracle2k commented on #10
This is a real issue. It happens if you do for example this:

     <TableView><Section>
       {showFirstItem ? <Cell /> : null}
     </Section></TableView>

See also https://github.com/facebook/react/issues/4867

[2017-01-19 17:03] Purii commented on #10
@miracle2k I do not get any errors with this:

[code]

What happens with your environment?

[2017-01-20 13:40] miracle2k commented on #10
No error with this. But  ``{{ false && <View /> }}`` does trigger it. Might be some optimization going on there??

[2017-02-08 21:01] joncursi opened #28 "Add `object` as an expected propType for title prop"
The `title` prop should also accept values of type `object`. An example of this is a custom `<Text />` component that is used to format a value in some way, either pluralize it, translate it, or otherwise manipulate it. But the output of the render function is still a string. I.e.:

[code]

The above emits the following warning to console:

Warning: Failed prop type: Invalid prop `title` supplied

[2017-02-08 21:55] Purii commented on #28
`node` would probably fit better?
This would allow something like:
[code]

[2017-02-08 21:59] #28 closed

[2017-02-08 22:00] Purii commented on #28
Should be on `npm` as `0.15.5` 👍

*Just open an issue, if your problem is still not fixed.*

[2017-02-08 22:37] joncursi commented on #28
💪 🙏

[2017-03-03 07:57] drewvolz opened #30 "Text lacks selectable prop"
As of  react native v0.39, `<Text>` elements can be made selectable on iOS. `<Cell>` should allow for `selectable={true}` to be set within inner `<Text>` elements.

http://facebook.github.io/react-native/releases/0.39/docs/text.html#selectable

[2017-03-03 20:47] Purii commented on #30
I'll look into it!

[2017-03-09 23:08] Purii commented on #30
I'm thinking about a solution to support the selection of the whole cell but copy just the title.
Simply adding `selectable` to the title wouldn't help, since some `Cells` also have a detail-`Text`. Do you have an idea, @drewvolz?

[2017-03-14 17:39] drewvolz commented on #30
I have not thought of a suitable way to implement this.

[2017-04-04 13:38] manishtpatel opened #31 "Cell has default padding that can't be removed"
Custom Cell defined with cellContentView gets default vertical padding, that can't be removed. For custom cells it should not preset any stylings or allow to override it.

cellContentView: {
    alignItems: 'center',
    flexDirection: 'row',
    flex: 1,
    justifyContent: 'center',
    // independent from other cellViews
    paddingVertical: 10,
  },

[2017-04-05 17:40] Purii commented on #31
Have you considered, replacing the contentView?

[code]

See [Wrap `Cell`](https://github.com/Purii/react-native-tableview-simple#wrap-cell).

[2017-04-08 18:23] Purii commented on #31
*Just open an issue, if your problem is still not fixed.*

[2017-04-08 18:23] #31 closed

[2017-04-20 07:54] vu0tran opened #32 "Some cell rows don't have a bottom border"
Take a look under the Obs Unit Protocols cell. It seems to be only happening on certain android devices. For example, this is the Nexus 5x. I can't seem to repro it on iOS or on Xiaomi mi 5, or Samsung Galaxy 3.

![image](https://cloud.githubusercontent.com/assets/1264648/25219590/3d1d004c-25af-11e7-83f7-9a17cc7b099a.png)

[2017-04-23 15:33] Purii commented on #32
I experienced this issue before, but only on iOS devices.
There you won't get this on a real device. I solved it, by setting the scale to 100% on the iOS Simulator. (Simulator: Window > Scale > 100%)

Could this be a similar issue on android simulator?

[2017-04-24 14:55] vu0tran commented on #32
@Purii That's what I thought initially too. On iOS it's because those are rendered at 0.5 pixels on retina, and sometimes on simulator they'll round to 0.

But I don't think it's the case for Android Here's it really zoomed in and it seems to be happening on device too.

![screenshot_1493045691](https://cloud.githubusercontent.com/assets/1264648/25343239/c22c3642-290e-11e7-8c8c-3d8c7f9e06cc.png)

[2017-04-25 19:44] Purii commented on #32
Spontaneously I do not have an idea, how to solve that issue. Maybe a problem with `StyleSheet.hairlineWidth`..
Could you upload an example, please?

[2017-05-10 13:23] sibelius opened #33 "Warning: Failed prop type: Invalid prop `children` supplied to `TableView` RN44"
this structure:

[code]

generate the following warning:

Failed prop type: Invalid prop `children` supplied to `TableView`

related to:
- https://github.com/Purii/react-native-tableview-simple/issues/18
- https://github.com/Purii/react-native-tableview-simple/issues/11
- https://github.com/Purii/react-native-tableview-simple/issues/10

[2017-05-11 21:40] sibelius commented on #33
can we just simple remove this check https://github.com/Purii/react-native-tableview-simple/blob/master/components/TableView.js#L20?

[2017-05-12 22:24] austenmc commented on #33
Running into this as well. Seems like a safe fix.

[2017-05-13 18:01] Purii commented on #33
That would be the easiest way. But I like to use propTypes everywhere and do not want to declare use exceptions, if that could be avoided. I will look after it 👍

[2017-05-13 22:54] austenmc commented on #33
You could build a custom validator that checks that children are elements or arrays of elements.

https://facebook.github.io/react/docs/typechecking-with-proptypes.html

[2017-05-14 09:53] #33 closed

[2017-05-14 09:55] Purii commented on #33
(https://facebook.github.io/react/docs/jsx-in-depth.html)

Could you please check, if your issues are fixed with `v0.16.5`?

[2017-05-30 11:48] tothzsofia opened #35 "View.propTypes has been deprecated"
I got this error message right after importing the package:

 Warning: View.propTypes has been deprecated and will be removed in a future version of ReactNative. Use ViewPropTypes instead.

[2017-05-30 20:18] Purii commented on #35
Will be fixed soon 👍

[2017-06-05 15:10] #35 closed

[2017-06-16 20:21] neiker commented on #32
same problem on ios

[2017-06-16 23:36] hawkrives commented on #32
I think I have a minimal reproduction. I'll try to upload it this weekend.

[2017-07-27 04:50] drewvolz commented on #32
[On line 93 of Section.js](https://github.com/Purii/react-native-tableview-simple/blob/master/components/Section.js#L93) there is this a check to see if the index is equal to the number of children.

[code]

Here is the offending line in particular

[code]

If we take out that check, I do not see any cells that are missing a bottom border.

[2017-08-10 12:41] alexkuc opened #36 "Example code issues"
Missing import of Image.

[code]
should be
[code]

Custom header example is missing component. Can be possibly fixed via

`<Section headerComponent={<Text>Custom header!</Text>}>`

[2017-08-17 18:34] #36 closed

[2017-08-17 18:36] Purii commented on #32
Could someone upload an example, please?

[2017-08-17 20:26] hawkrives commented on #32
@Purii I finally made one!

[code]

produces

<img width="320" alt="screen shot 2017-08-17 at 3 24 58 pm" src="https://user-images.githubusercontent.com/464441/29432189-47407e82-8360-11e7-92fa-1772f7099f17.png">

---

I would have expected both of those to have the line above "delete", and it also looks like the first example has an extra line under the delete button.

If you need something else,

[2017-08-18 20:56] #32 closed

[2017-08-18 20:57] hawkrives commented on #32
Thanks @Purii!

[2017-08-18 21:03] Purii commented on #32
Should be fixed with v0.16.9 👍

[2017-08-22 11:24] Purii commented on #30
@drewvolz Have you already looked into [chirag04/react-native-tooltip](https://github.com/chirag04/react-native-tooltip) together with the [`Clipboard`-API](https://facebook.github.io/react-native/docs/clipboard.html)?

[2017-08-22 12:40] drewvolz commented on #30
That’s a good solution. Thanks, @Purii.

[2017-08-24 07:16] lavarajallu opened #37 "How can i solve this by Using this Component"
please click it once link  i have a issue.

[https://stackoverflow.com/questions/45841397/how-to-check-uncheck-individual-checkbox-in-react-native-table-component](url)

[2017-08-24 07:18] Purii commented on #37
Are you using [`react-native-tableview`](https://github.com/aksonov/react-native-tableview) or `react-native-tableview-simple`?

[2017-08-24 13:35] lavarajallu commented on #37
I am using react-native table view

On Aug 24, 2017 12:48 PM, "Patrick Puritscher" <notifications@github.com>
wrote:

[2017-08-24 13:59] Purii commented on #37
So this is react-native-tableview-simple. Another component. Just follow that [link](https://github.com/aksonov/react-native-tableview).

[2017-08-24 13:59] #37 closed

[2017-09-05 16:37] liorzil opened #38 "Header and Footer Separators"
Is there a way to get rid of the lines between the header/footer and the body of the tableview? My header and footer are transparent without text but a line still shows, separating them from the cells.

![image](https://user-images.githubusercontent.com/2922188/30071988-de942506-9236-11e7-9c56-235890d146fe.png)

[2017-09-05 16:40] Purii commented on #38
Do you need the section component at all?

[2017-09-06 16:51] liorzil commented on #38
No, I thought it was required in TableView. That solved it. Thanks.

[2017-09-06 16:51] #38 closed

[2017-09-08 15:11] #30 closed

[2017-09-20 18:21] esutton opened #39 "[ Question ] How to assign a Section custom headerComponent that can change this.state?"
Sorry, this is a programming question rather than react-native-tableview-simple

How can I assign a custom section header that can change this.state ?

[code]

Thank you for a great component!

[2017-09-20 18:25] esutton commented on #39
Never mind:

[code]

[2017-09-20 18:25] #39 closed

[2017-10-05 14:44] esutton opened #41 "[iOS] Crash on ViewPropsTypes.style"
I had to remove ViewPropsTypes.style.

I was getting crashes when app started due to ViewPropsTypes.style after upgrading react-native-tableview-simple 0.16.4 -> 0.16.13

Xcode:
`2017-10-05 10:48:45.581 FieldScout[15242:54944] *** Terminating app due to uncaught exception 'RCTFatalException: Unhandled JS Exception: undefined is not an object (evaluating 'o.ViewPropTypes.style')', reason: 'Unhandle

[2017-10-05 19:18] Purii commented on #41
Thanks @esutton!

I would prefer to keep the usage of PropTypes consistent.
It would be great if you create a PR with updated peerDependencies 👍

Hope that this is an option for your project.

[2017-10-05 20:08] esutton commented on #41
If you want to require use of RN 0.44 or greater for your project, then I believe **ViewPropsTypes** is what you want to use.  I think the dependencies need to upgraded.

Unfortunately **ViewPropsTypes** breaks things for people like me who are using older the RN 0.44.
[code]
I think I will fork your project and comment-out **ViewPropsTypes** until I am able to upgrade all my dependencies to >= RN

[2017-10-09 15:38] #41 closed

[2017-10-19 16:18] ou2s opened #43 "react-native type has no exported member 'StyleProp'"
When compiling with TypeScript, we have this error:
[code]

Config:
- react-native 0.47.2
- typescript 2.4.2
- types/react-native: 0.44.2

[2017-10-19 16:33] ou2s commented on #43
Found solution by upgrading types/react-native to 0.46.2

Thanks @Purii for this library.

[2017-10-19 16:33] #43 closed

[2017-11-01 13:31] neel132 opened #44 "If more than one column ?"
Can I use this package, if I have more than 1 column?
-Thanks in advance

[2017-11-01 13:39] Purii commented on #44
What do you mean by having more than 1 column?
In general the components are based on flexbox and are therefore flexible.

[2017-11-01 19:09] neel132 commented on #44
Thank-you you for your quick response, my precise question is ; how can I achieve the following structure:
                  Col1       Col2       Col3
**Title**     Detail1 | Detail2 | Detail3

In your stated example by using
<Cell cellStyle="RightDetail" title="Title" detail="Detail1" />
we can achieve :
                  Col1
**Title**     Detail1

-Thanks

[2017-11-03 11:41] Purii commented on #44
You can replace the contentView completely. Is this what you are looking for?
[code]

[2017-11-03 19:37] neel132 commented on #44
Thanks mate, its working like a charm :+1:

[2017-11-03 19:37] #44 closed

[2018-04-05 11:21] hegelstad opened #47 "Section seems to add separator to elements that aren't <Cell>"
<img width="376" alt="screen shot 2018-04-05 at 13 19 04" src="https://user-images.githubusercontent.com/6997343/38363177-f49d95a0-38d3-11e8-9c4e-dc674f7c9105.png">

Look at the bottom <Cell> (Slutter), it has a separator at the bottom because i have a <DatePicker> (not wrapped in a cell) element underneath it that is hidden (shown when the cell is pressed).

Expected behavior: No separator on the

[2018-04-05 11:54] Purii commented on #47
Is there a particular reason you hide the component, instead of rendering it only when needed? (https://reactjs.org/docs/conditional-rendering.html)
[code]

[2018-04-05 13:10] hegelstad commented on #47
This is my code. I was unclear in my wording. I am conditionally hiding the DatePicker, but it seems like section is evaluating the code as being another cell, thereby adding a seperator to the bottom of the last cell which is seen in the picture.

[code]

[2018-04-05 14:50] Purii commented on #47
Ah. Got it!
Seems to be related to: https://github.com/facebook/react/issues/7685

Will look into it

[2018-04-05 15:03] Purii commented on #47
Could you please check, if your issues are fixed with `v0.17.3`?

[2018-04-05 20:40] hegelstad commented on #47
I did some digging. So as you can see from the code, i also have a `false` equation above the last `Cell`. This causes the index of the last `Cell` to be 3 instead of 2. Thus, not hiding the separator.

<img width="1336" alt="screen shot 2018-04-05 at 22 39 34" src="https://user-images.githubusercontent.com/6997343/38390683-4ea87ab2-3922-11e8-9886-31f7f3e480cc.png">

[2018-04-06 07:44] Purii commented on #47
Ahh. So it's because you have an empty child between and not as the last one

[2018-04-06 07:51] hegelstad commented on #47
That's correct, or they both start out as false.

They didn't render when i put them as the contentView in a cell, that's why they aren't cells.

[2018-04-06 07:59] #47 closed

[2018-04-06 08:00] Purii commented on #47
Removed the usage of `React.Children.map`. Can you verify, that this fixed your issue?

[2018-04-06 08:06] hegelstad commented on #47
Looks like the build haven't been pushed to npm yet? @Purii

[2018-04-06 08:06] Purii commented on #47
Looks like you're right ;-)

[2018-04-06 08:19] hegelstad commented on #47
Well, it works quite well now!

However, there is still one bug..

<img width="487" alt="screen shot 2018-04-06 at 10 15 05" src="https://user-images.githubusercontent.com/6997343/38409879-6d567660-3983-11e8-83d2-cad5b19599a0.png">

As you can see from my code/pictures, the cells have onPresses that conditionally shows the DatePicker beneath each cell respectively.

When i press the first cell (St

[2018-04-06 08:25] hegelstad commented on #47
I don't have my USB adapter handy so it would have to be another time. I'll try to let you know if I remember :)

[2018-09-22 16:42] hiubees opened #48 "Can't change accessoryColor when accessory is DisclosureIndicator"
[code]

Result:
![screen shot 2018-09-23 at 12 37 42 am](https://user-images.githubusercontent.com/30962598/45919509-f4869f00-bec8-11e8-8ee8-a880ded9b3ea.png)

[2018-10-01 15:18] #48 closed

[2018-10-25 17:05] greenkeeper[bot] opened #54 "An in-range update of react-native is breaking the build 🚨"
## The dependency [react-native](https://github.com/facebook/react-native) was updated from `0.57.2` to `0.57.4`.

🚨 [View failing branch](https://github.com/Purii/react-native-tableview-simple/compare/master...Purii:greenkeeper%2Fdefault%2Freact-native-0.57.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-native

[2018-10-26 07:34] #54 closed

[2019-01-10 19:47] DharaNaik opened #60 "Error : Nesting of <View> within <Text> is not currently supported."
Hi Purri

I recently upgraded my EXPO to its latest version. After upgrade my app stopped working and throwing error for Cell being rendered from 'react-native-tableview-simple"  Attached is the screen shot for the error.

Following is the current stack I am using.

    "react-native-tableview-simple": "^1.0.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-31.0.1.tar.gz",

[2019-01-10 21:32] Purii commented on #60
👍

[2019-04-03 22:14] chetstone opened #70 "Runaway thread on older versions of iOS"
Apps using this component have extremely poor performance on iOS 9.3 and iOS 10.3.
To replicate, clone the latest version of this repo. Then,
[code]
Now open `example.xcodeproj` in xcode. Run the example using an iOS 10.3.1 simulator (for example, use iPhone 6 Plus). Click on the debugging tab in xcode and click on CPU. The graph will show a constant 100% CPU or thereabouts.

The problem does not

[2019-04-05 20:21] chetstone commented on #70
This has something to do with <ScrollView>. When you remove sufficient items from the list that everything fits on the screen, the problem goes away.

[2019-04-07 13:05] Purii commented on #70
Sounds strange..
I'll try to look into that the next days.

[2019-04-08 14:51] chetstone commented on #70
Good question. I was assuming that to be the case, since this component is pretty simple. That’s why I went ahead and filed the issue with react native.

[2019-04-08 20:55] chetstone commented on #70
Hmmm maybe it does have something to do with this component. I made an app with I guess the simplest possible use of ScrollView and it doesn't show the issue. https://github.com/chetstone/RN24326/blob/master/App.js#L29

[2019-05-14 03:38] SpencerLynn opened #73 "Bad Android Default Styles"
Using the example on Snack.io, Android styles appear to have some bad margin/padding left/right.

https://snack.expo.io/HJ37Ihvn4

Normal state: Padding on the right seems too much.
![image](https://user-images.githubusercontent.com/5921571/57669178-cae8c800-75be-11e9-84e2-665cf17f6ea8.png)

Pressed state: The left/right margins are darker than the rest.
![image](https://user-images.githubusercont

[2019-05-18 11:16] Purii commented on #70
Probably be something with `React.cloneElement`?
https://github.com/Purii/react-native-tableview-simple/blob/master/components/Section.js#L110

Would be great if you could check that

[2019-05-18 11:46] Purii commented on #73
Appears to be an issue with `SafeAreaView`.
Disabling that implementation seems to fix your issue:

[code]

[2019-05-18 11:46] #73 closed

[2019-05-18 11:47] Purii commented on #73
Could you please check, if your issues are fixed with v2.1.0?

[2019-05-18 18:29] chetstone commented on #70
Thanks for checking into this. I haven’t been able to work on this project
for a few weeks. Hopefully I can get back to it in about a week, and this
will be the first thing I look at.

Thanks again.

On Sat, May 18, 2019 at 05:16 Patrick Puritscher <notifications@github.com>
wrote:

[2019-06-24 12:20] greenkeeper[bot] opened #77 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.14.0` to `7.14.1`.

🚨 [View failing branch](https://github.com/Purii/react-native-tableview-simple/compare/master...Purii:greenkeeper%2Feslint-plugin-react-7.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-06-28 21:50] #77 closed

[2019-07-03 14:09] martin-badin opened #82 "implement testID"
Hello,

please, can you implement prop the testID to the table cell on the TouchableHighlight component?

[2019-07-06 08:06] #70 closed

[2019-07-06 10:20] Purii commented on #82
The prop `testId` doesn't seem to be supported by `TouchableHighlight`: https://facebook.github.io/react-native/docs/0.59/touchablehighlight?

[2019-07-06 10:31] #82 closed

[2019-07-06 10:40] Purii commented on #82
Hi @martin-badin !

With version 2.2.0 you should be able to set a testID for the Cell component. :-)

Just open an issue, if your problem is still not fixed.

[2019-07-06 16:04] martin-badin commented on #82
👌thank you

[2019-07-09 03:59] SpencerLynn opened #84 "Support Rounded Sections"
It would be great if sections and/or cells supported rounded corners.

Ideally it would be on the sections, but if that is too difficult, which it might be after peering though the code, (or if you disagree 😀) then having it on the Cell would be acceptable.

Something like this:
![image](https://user-images.githubusercontent.com/5921571/60858337-b42baf80-a1c2-11e9-9aca-6ed237ee5752.png)

I've stru

[2019-07-09 05:30] SpencerLynn opened #85 "Cell with Text Input Eats Touchable Press When Blurring"
In the following snack:

https://snack.expo.io/@slynn/react-native-tableview-simple---text-input-and-focus

When the text input is focused, you cannot click the touchable below until the text input is first blurred.

Steps:
1. Click into the text input to focus
2. Click on the "Pressable w/ accessory" cell.

Notice that you must first blur the text input.

Here is a snack that isolates the issue t

[2019-07-13 16:49] #84 closed

[2019-07-13 17:03] Purii commented on #84
Hi @SpencerLynn !

With version 2.3.0 I added some props to support rounded section corners. :-)

[code]

Just open an issue, if your problem is still not fixed.

[2019-07-14 02:06] SpencerLynn commented on #84
Thanks for working on this! I'll check it out!

[2019-07-14 20:03] SpencerLynn commented on #84
This worked great! Thanks for doing this @Purii !

[2019-08-24 09:22] unmec commented on #70
Hello all, thanks for info. I just had a similar issue and it took me some time to get here.

In short:
Set ```withSafeAreaView``` explicitly to ```false``` on ```Section``` to avoid 100% CPU load.

Details:
RN: ```0.57.8```
react-native-tableview-simple: initially ```2.0.1``` then ```2.3.0```
iOS simulator with ```iPhone X 12.4```

I had a view with table view within scroll view, and I noticed wh

[2019-08-29 17:44] Purii commented on #70
@unmec only for the `Section` or also `Cell`?

[2019-08-30 05:17] unmec commented on #70
@Purii only for the ```Section``` was good enough for me. Didn't test on ```Cell``` though.

[2019-11-22 21:01] greenkeeper[bot] opened #93 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.6.0` to `6.7.0`.

🚨 [View failing branch](https://github.com/Purii/react-native-tableview-simple/compare/master...Purii:greenkeeper%2Feslint-6.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project.

[2019-11-26 09:48] #93 closed

[2019-11-29 22:02] Purii commented on #85
@SpencerLynn Sorry for the really long delay.
It seems to be an issue with `ScrollView`:

[code]

Documentation > React Native > ScrollView: https://facebook.github.io/react-native/docs/scrollview#keyboardshouldpersisttaps
Default is `keyboardshouldpersisttaps:never`

[2019-11-29 22:02] #85 closed

[2019-11-29 22:05] SpencerLynn commented on #85
Thanks for finding that!

[2020-01-27 00:11] DusterTheFirst opened #114 "Setting custom colors for `<Seperator>`s"
Hello! I want to start out by thanking you for all the work you have put into this project and to say just how useful this has been with my app. I have one issue/question to file though.

I cannot find a way to change the left most padding section of the `<Seperator>`. Currently my settings screen (in dark theme) looks like this:
<img width="320" alt="noselect" src="https://user-images.githubuserc

[2020-01-27 14:52] Purii commented on #114
Hi @DusterTheFirst! Thanks for those kind words. I'm glad that you find that component useful for your work :)

How do you set the `backgroundColor` of the `Cells`?

[code]

The `backgroundColor` of a `Separator` is derived by the surrounding `Cells`: https://github.com/Purii/react-native-tableview-simple/blob/master/src/components/Section.js#L124

The reason for that is the onPress- / highlightin

[2020-01-27 17:06] DusterTheFirst commented on #114
@Purii I have the background color set on the cell
![image](https://user-images.githubusercontent.com/14093962/73196317-66927800-40fd-11ea-868c-ee61808a1a16.png)

[2020-01-28 10:43] Purii commented on #114
Strange. Unfortunately I cannot reconstruct that issue.
Could you create an expo snack where it occurs?
Thanks!

[2020-01-28 15:44] DusterTheFirst commented on #114
@Purii here is an example: https://snack.expo.io/@dusterthefirst/06c77c
I think the main problem has to do with the fact that the components are passed the backgroundColor through a HOC.

[2020-01-28 21:58] Purii commented on #114
You're right. I'll figure something out. Probably a recursion to get the correct children...

I'm also open for suggestions or a PR if you find a solution 👍

[2020-01-29 14:36] DusterTheFirst commented on #114
@Purii i don’t have the time currently but I will look into solutions and probably submit a PR. Am idea I have is to, as you said, recurse through the components passed and their children until you hit one that is a cell (or array of cells) and deal with them like you are currently.  Another, probably quicker solution could also be to add a cellBackgroundColor prop to Section so that it can be use

[2020-04-30 01:12] philo23 opened #166 "Missing separators after onPress toggling other cells"
First of all, this little library is great for putting together quick tableview layouts, so thanks for the great work! 👍

Probably the easiest way to explain this bug is by seeing it in action, so here's a quick snack with two examples in it: https://snack.expo.io/@philo23/quiet-scone

Basically when you toggle the visibility of other cells inside a `<Section>`, the separators between the one you

[2020-05-01 14:11] Purii commented on #166
Hi @philo23!

Glad that you like it!

That's an interesting issue. Could be something with this rows: https://github.com/Purii/react-native-tableview-simple/blob/master/src/components/Section.tsx#L128-L140

It may take some time before I can take a closer look. If you find a solution in the meantime feel free to open a PR 👍

[2020-05-01 17:50] philo23 commented on #166
So I've done a little digging and it seems like `highlightedRowIndex` isn't getting reset back to undefined by `unhighlightRow` because the `onPressOut` callback isn't being fired from the <TouchableHighlight> used inside of the <Cell> component.

It's almost like <TouchableHighlight> is being unmounted or something before it gets a chance to call the onPressOut callback? but I'm not sure because

[2020-05-02 11:28] Purii commented on #166
Yep. Just saw that.
Happened on my rewrite to TS... but that's not released yet.
So there must be another issue.

[2020-05-02 11:59] Purii commented on #114
Hi @DusterTheFirst !

What do you think about this clean solution:

[code]

[2020-05-02 12:17] #114 closed

[2020-05-02 12:31] philo23 commented on #166
Just fixed my previous comment, looks like GitHub markdown was eating some of the `< />` tags... hopefully it should make a bit more sense now! Basically it seems like `<TouchableHighlight />` isn't firing off the onPressOut callback to un-highlight the row when you mess with the children of the `<Section>` presumably because somethings getting unmounted midpress? Not sure.

And I can definitely s

[2020-05-02 12:48] Purii commented on #114
*Just reopen the issue, if it is still not fixed.*

[2020-05-02 13:09] Purii commented on #166
Seems to be some kind of race condition.
For me it works with the Snack and locally...

Looks like component doesn't get rerendered if the children change.
The `Touchable` triggers an update of `highlightedRowIndex ` which leads to a serenader of the `Section`. That's why it works after pressing the `Touchable` Component.

`Section:127-132` controls the rendering of the Separator. Could you try ou

[2020-05-02 14:04] philo23 commented on #166
Great, I was just about to ask what the best way to try out the new TS version. I'll test out v3.0.0 now and let you know how it goes.

[2020-05-02 14:46] philo23 commented on #166
I've updated it and it appears to be working now in-simulator, but I think the actual issue might have been that my react-native dependency was actually out of date by a couple of minor versions 😅

Weirdly the snack from earlier still seems to be broken even with the new v3 version... but I think this bug can probably be put down to something in React Native thats since been fixed!

[2020-05-02 15:32] Purii commented on #166
Good to hear!

Feel free to close this issue if it works for you now 👍

[2020-05-02 15:33] #166 closed

[2020-05-22 17:31] chetstone opened #194 "YellowBox warning when using a FlatList in a ScrollView"
The example code always shows the TableView inside a ScrollView. (Except for the FlatList example on the README but this does not seem to be a complete example.) I wonder why this is necessary? When I omit the ScrollView in my code, only one Cell is rendered, the rest are not visible, even if the list is very short and would easily fit on the screen.

But if I do include ScrollView and a FlatList

[2020-05-22 18:09] chetstone commented on #194
Workaround: I was able to replace the top level ScrollView with a FlatList as in the [example here](https://github.com/GeekyAnts/NativeBase/issues/2947#issuecomment-617001078).
My code (it's a little more convoluted than just wrapping with ScrollView but it works):

[code]

[2020-05-23 09:28] Purii commented on #194
Hi @chetstone!

It shouldn't be necessary to nest the component in a `ScrollView`.
Will release a fix soon.

[2020-05-23 10:10] #194 closed

[2020-05-23 10:17] Purii commented on #194
Just released `v3.1.0` which should fix that issue.
Can you verify that @chetstone

[2020-05-23 19:07] chetstone commented on #194
Yes that fixes it! Thanks for the quick response!

[2020-05-24 04:51] AnOptimistSeePessimist opened #195 "DisclosureIndicator is different"
![QQ20200524-123948](https://user-images.githubusercontent.com/27407218/82745973-f64ee700-9dbc-11ea-8e5b-10a5e53038c9.png)

![QQ20200524-124454](https://user-images.githubusercontent.com/27407218/82745974-f949d780-9dbc-11ea-92b9-d0fc7da49080.png)

### reproduce

https://snack.expo.io/@chengxiaodong1/react-native-tableview-simple

[2020-05-24 10:02] Purii commented on #195
Hey @AnOptimistSeePessimist!

Should be fixed with `v3.2.0` via f455b8db703c67f5fb417e2410c7326e930374c1.

Can you verify that please, @AnOptimistSeePessimist?

[2020-05-24 10:02] #195 closed

[2020-05-24 12:22] AnOptimistSeePessimist commented on #195
Yes that fixes it! Thanks for the quick response!

[2020-06-18 00:35] hadnet opened #218 "insetLeft, insetRight issue on Separator component"
I'm trying to use the Separator component and customize the insetLeft prop but remains a white straight line on the width insetLeft setting. I think it's some issue on the `backgroundColor` in Separator.tsx. Defining it to "transparent" solves my issue of constantly setting backgroundColor="transparent" though. This issue pop up because I'm using a dark theme.

[code]

[2020-06-18 18:48] Purii commented on #218
Hi @hadnet ! I'm going to look into that the next days. Shouldn't be an issue to update the default, but let me check.
- Support for Dark Theme is on the Roadmap 👍

[2020-06-21 18:55] Purii commented on #218
Hi @hadnet! I just release `v.4.1.0` which supports dark mode out of the box.
Optionally you can add your own appearance through `customAppearances`.

Of course you should still be able to overwrite the prop `backgroundColor` of `Separator`.

Let me know if that solves your issue.

[2020-06-21 18:55] #218 closed

[2020-07-07 22:44] Cleversou1983 opened #238 "Use it as static tableview form"
Hi there! It's possible to use it as a form (with a input text along a label), to make it work like a form?

Thanks a lot!

[2020-07-07 23:04] #238 closed

[2020-09-04 10:44] sallar opened #314 "Not possible to use themes with FlatList"
The example of `FlatList` usage in README uses only the `Cell` component, without wrapping it `TableView`, this causes the custom appearances and themes to stop working within the Cell component.

[code]

![image](https://user-images.githubusercontent.com/768052/92230833-6be64b00-eeb4-11ea-87c4-b0a387a95699.png)

Should there be a way to style `TableView` so it can be used as a general wrapper? Ma

[2020-09-04 15:31] #314 closed

[2020-09-29 11:14] Purii opened #341 "Support new iOS 14 Style"

[2020-12-15 07:47] unmec opened #425 "Bug in dark mode display"
Hello! When trying to implement dark mode, I found out that the package ignored the appearance param ```'dark'``` and always show light theme.

Then I found out the the if statement in ```TableView.tsx``` is the cause:
[code]

Can be fixed with
[code]

I don't know if this was the intended way, but if we are letting user to choose between automatic, light, and dark display, I believe the latter is

[2020-12-15 08:20] Purii commented on #425
Hi @unmec!

You're absolutely right.

Would be awesome if you create a PR with the fix.
Ideally also some "tests" (snapshots): https://github.com/Purii/react-native-tableview-simple/blob/master/src/components/__tests__/TableView.test.tsx

[2020-12-21 16:14] Purii commented on #425
Hi @unmec!

Should be fixed in `v4.2.1`.

_Just reopen the issue, if it is still not fixed._

[2020-12-21 16:14] #425 closed

[2020-12-21 16:56] unmec commented on #425
Hello @Purii , thanks for your great package.
I've been overwhelmed with db transfer to new server. I'll find some new opportunities to contribute the next time, promised! :-)
Thanks again.

[2020-12-21 16:57] Purii commented on #425
No worries! Glad that you like the package :)
Hope everything went well 👍

[2021-04-01 07:58] MSchmidt commented on #341
I was able to get good results by just using `marginHorizontal: 15` on `TableView` and a few modifications to `Section`:

[code]

[2021-08-16 13:15] Great-hijack opened #594 "Support editing mode"
Thanks for awesome package.

Can I expect this feature in the future?

![image](https://user-images.githubusercontent.com/57619523/129569608-009237ef-bb5f-409f-aa44-aa0aeec05830.png)

https://github.com/aksonov/react-native-tableview#built-in-editing

[2021-08-16 17:34] Purii commented on #594
Hi @Great-hijack!

Glad, that you like the package.
That feature is currently not planned. But I'm always open for PRs.
A custom cell component should do it.. sorting the Cell Components should also be solvable.

[2021-09-22 00:05] 10000multiplier opened #617 "Feature request: New input style"
How would we go about creating a cell with a TextInput on the right and a title on the left?

![image](https://user-images.githubusercontent.com/57633368/134263153-68f16798-4008-4c82-a2fd-22ad2c3b94dd.jpeg)

Thank you for building an awesome component.

[2021-09-22 03:45] 10000multiplier commented on #617
Just realized it's already possible!

This code seems to do the trick:

[code]

[2021-09-22 03:54] 10000multiplier commented on #617
![image](https://user-images.githubusercontent.com/57633368/134280990-773e935c-f11c-4351-9b1c-77fc228ab73a.jpeg)
Not working entirely as expected.

[2021-09-26 17:03] Purii commented on #617
Hi @10000multiplier!
So this issue is solved?

[2021-09-27 17:38] 10000multiplier commented on #617
yes, you may close this!

[2021-09-27 19:36] #617 closed

[2022-04-11 19:59] riledv opened #664 "Сan I change padding inside Сell?"

[2022-04-11 20:02] riledv commented on #664
Use contentContainerStyle

[2022-04-11 20:02] #664 closed